[Unit]
Description=Hyprland session
Requires=graphical-session-pre.target
After=graphical-session-pre.target
Wants=graphical-session.target
BindsTo=graphical-session.target
